<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/menu.css">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="Logo">Salud Club</div>
        <div class="bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
               
                <li>
                    <a href="pacientes.html">Pacientes</a>
                </li>
                <li>
                    <a href="consultas.html">Consultas</a>
                </li>
                <li>
                    <a href="citas.html">Citas</a>
                </li>
                
            </ul>
        </nav>
    </header>  
    <script src="script.js"></script>

</body>
</html>