<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/diagnostico.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Diagnósticos</title>
</head>
<body>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        {% for msj in mensajes %}
        <script>
              Swal.fire({
              text: '{{ msj }}',
              icon: 'info',
              confirmButtonText: 'OK'
              })
            </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <header>
        
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/">Menu</a>
                </li>
                
                
            </ul>
        </nav>
    </header> 



    <h1 class="text-center p-4">Diagnósticos</h1>
    <br>

    <div class="card container">

        <table class="table table-striped">

            <thead class="text-center">
                <tr>
                    <td>Nombre: </td>
                    <td>Apellido Paterno: </td>
                    <td>Apellido Materno: </td>
                    <td>CURP: </td>
                    <td>Edad: </td>
                    <td>Consultorio</td>
                    <td>Enfermedad</td>
                    <td>Fecha de Consulta</td>
                </tr>
            </thead>

            <tbody  class="text-center">
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.ap }}</td>
                    <td>{{ paciente.am }}</td>
                    <td>{{ paciente.curp }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.id_consultorio }}</td>
                    <td>{{ paciente.enfermedad }}</td>
                    <td>{{ paciente.fecha_consulta }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</body>
</html>