body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fes%2Fwallpapers%2Fcolors%2Fgrey&psig=AOvVaw1tBVciFfIl1c2uyJCFfNn4&ust=1706138755963000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKDK3KfU9IMDFQAAAAAdAAAAABAv');
    background-size: 100%;
    background-repeat: no-repeat;
}








